body{
	padding-top: 47px;
}
.banner{
	position: relative;
	overflow: hidden;
	height: 120px;
}
.banner img:nth-of-type(1){
	display: block;
	position: absolute;
	left: -5%;
	top: -5%;
	height: 110%;
	width: 110%;
	-webkit-filter: blur(8px);
	-moz-filter: blur(8px);
	-o-filter: blur(8px);
	-ms-filter: blur(8px);
	filter: blur(8px);
	
	margin: 1px;
	margin-left: auto;
	margin-right: auto;
}
.banner img:nth-of-type(2){
	position: absolute;
	right: 5%;
	top: 10%;
	max-height: 80%;
}
.banner span.badge{
	position: absolute;
	right: 5px;
	top: 5px;
	z-index: 1;
}
.caption h3{
	font-weight: lightier;
	text-decoration: none;
	font-size: 1.1em;
}
a:hover {
	text-decoration: none;
}
.banner span.badge{
	background-color: #d9534f;
}
#nowplaying{
	
}
