{% extends "base.html" %}

{% block jquery %}

{% endblock %}

{% block content %}
<ol class="breadcrumb">
	<li><a href="{% url 'home' %}">Home</a></li>
	<li><a href="{% url 'artist' album.artist.id %}">{{ album.artist.name }}</a></li>
	<li class="active">{{ album.name }}</li>
</ol

<div class="row">
	<div class="col-xs-12 col-md-2">
		<div class="thumbnail">
			<img src="{{ album.art_url }}" alt="">
		</div>
	</div>
	<div class="col-xs-12 col-md-10">
		<div class="panel panel-default">
			<!-- Default panel contents -->
			<div class="panel-heading">
				<h3>
					<a href="{% url 'play_album' album.id %}">
						<span class="glyphicon glyphicon-play"></span>
					</a>
					&nbsp;{{ album.name }}<small> {{ album.artist.name }}</small>
				</h3>
			</div>
			<div class="table-responsive">
				<!-- Table -->
				<table class="table table-hover">
					<thead>
						<tr>
							<td class="col-xs-1 col-md-1">#</td>
							<td>Title</td>
							<td class="col-xs-1 col-md-1">
								<span class="glyphicon glyphicon-time"></span>
							</td>
						</tr>
					</thead>
					<tbody>
						{% for track in tracks %}
						<tr>
							<td>{{ track.track_no }}</td>
							<td>{{ track.name }}</td>
							<td>{{ track.get_formatted_duration }}</td>
						</tr>
						{% endfor %}
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>
{% endblock %}
