{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <title>play-pi</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <!-- Bootstrap -->
        <link href="{% get_static_prefix %}css/bootstrap.min.css" rel="stylesheet">
        <link href="{% get_static_prefix %}css/style.css" rel="stylesheet">
        <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
        <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
        <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
        <![endif]-->
    </head>
    <body>
        <nav id="baroeben" class="navbar navbar-default navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="{% url 'home' %}">gplaymusic-pi</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
						<a href='{% url "home" %}'><span class="glyphicon glyphicon-th">&nbsp;</span>Artists&nbsp;<span class="badge">{{ artists_count }}</span></a>
					</li>
                    <li>
						<a href='{% url "playlists" %}'><span class="glyphicon glyphicon-list">&nbsp;</span>Playlists <span class="badge">{{ playlists_count }}</span></a>
					</li>
                </ul>
                <form class="navbar-form navbar-right" role="search">
                    <div class="form-group">
                        <input id="search-box" type="text" class="form-control" placeholder="Filter">
                    </div>
                </form>
                <div class="btn-group navbar-right">
					<a href='{% url "stop" %}' id="stop-button" class="btn btn-default navbar-btn">
						<span class="glyphicon glyphicon-stop">&nbsp;</span>stop
					</a>
					<a href='{% url "stop" %}' id="repeat-button"class="btn {% if mpd_status.repeat == '1' %}active{% endif %} btn-default navbar-btn ">
						<span class="glyphicon glyphicon-repeat">&nbsp;</span>repeat
					</a>
					<a href='{% url "random" %}' id="random-button" class="btn {% if mpd_status.random == '1' %}active{% endif %} btn-default navbar-btn">
						<span class="glyphicon glyphicon-random">&nbsp;</span>random
					</a>
					<a href='{% url "pause" %}' id="pause-button" class="btn {% if mpd_status.state == 'pause' %}active{% elif mpd_status.state == 'stop' %}disabled{% endif %} btn-default navbar-btn">
						<span class="glyphicon glyphicon-pause">&nbsp;</span>pause
					</a>
				</div>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
		<div class="container">
			<div class="row">
				<div class="panel panel-default col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-3">
					<div id="nowplaying" class="panel-collapse collapse {% if mpd_status.state == 'play' %}in{%endif%}">
						<div class="panel-body text-center">
							 <span class="glyphicon glyphicon-music"></span> {{ current_track.artist.name }} - {{ current_track.name }}
						</div>
					</div>
				</div>
			</div>	
		{% block content %}
		{% endblock %}		   
        </div>
        <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
        <script src="{% get_static_prefix %}js/jquery.min.js"></script>
        <!-- Include all compiled plugins (below), or include individual files as needed -->
        <script src="{% get_static_prefix %}js/bootstrap.min.js"></script>
        <script src="{% get_static_prefix %}js/script.js"></script>
    </body>
</html>
