{% extends "base.html" %}

{% block jquery %}
{% endblock %}

{% load cache %}

{% block content %}
{% if view == 'album' %}
<ol class="breadcrumb">
	<li><a href="{% url 'home' %}">Home</a></li>
	<li class="active">{{ artist.name }}</li>
</ol>

<div class="panel panel-default">
  <div class="panel-heading">
	<a href="{% url 'play_artist' artist.id %}?to={% firstof request.path '/' %}" name="{{ artist.id }}" class="play-artist">
		<span class="glyphicon glyphicon-play"></span> Play {{ artist.name }}
	</a>
  </div>
  <div class="panel-body">
{% endif %}

{% if view == 'artist' %}
{% cache 86400 artists %}
<div class="row">
	{% for artist in list %}
	<div class="col-xs-12 col-md-3">
		<a class="thumblink" href="{% url view artist.id %}" alt="">
			<div name="{{ artist.name }}" class="thumbnail">
				<div class="banner">
					{% if artist.albums.count > 1 %}
					<span class="badge">+{{ artist.albums.count|add:-1 }}</span>
					{% endif %}
					<img src="{{ artist.latest_album.art_url }}" alt="">
					<img src="{{ artist.latest_album.art_url }}" alt="">
				</div>
				<div class="caption">
					<h3>{{ artist.name }}</h3>
				</div>
			</div>
		</a>
	</div>
	{% endfor %}
</div>
{% endcache %}
{% elif view == 'playlist' %}
{% cache 86400 playlists %}
<div class="row">
	{% for playlist in list %}
	<div class="col-xs-12 col-md-3">
		<a class="thumblink" href="{% url view playlist.id %}" alt="">
			<div name="{{ playlist.name }}" class="thumbnail">
				<div class="banner">	
					<span class="badge">{{ playlist.tracks_count }}</span>
					<img src="{{ playlist.art_url }}" alt="">
				</div>
				<div class="caption">
					<h3>{{ playlist.name }}</h3>
				</div>
			</div>
		</a>
	</div>
	{% endfor %}
</div>
{% endcache %}
{% elif view == 'album' %}
<div class="row">
	{% for album in list %}
	<div class="col-xs-6 col-md-2">
		<a class="thumblink" href="{% url view album.id %}" alt="">
			<div name="{{ album.name }}" class="thumbnail">
				<img src="{{ album.art_url }}" alt="">
			</div>
			<div class="caption">
				<h3>{{ album.name }}</h3>
			</div>
		</a>
	</div>
	{% endfor %}
</div>
{% endif %}
{% endblock %}
